@bg-color: #99aa33;

body{
  background-color: @bg-color;
}

.card{
  background-color: #00ff00;
  height: 50px;
  width: 50px;
  position: relative;
  float: left;
  padding: 0px;
}

td{
  height: 50px;
  width: 50px;
  border: 1px solid black;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: 2px;
  position: relative;
  padding: 0px;
}

.space{
  //background-image: url('/img/bomb.png');
  height: 50px;
  width: 50px;
  border: 1px solid black;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: 2px;
  position: relative;
  padding: 0px;
}

.marker{
  background-image: url('/img/markerbg.png');
  height: 50px;
  width: 50px;
  border: 1px solid black;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: 2px;
  position: relative;
  padding: 0px;
  font-family: 'Monaco', fixed;
}

.scoredisplay{
  font-size: 24px;
  padding-bottom: 10px;
}

.bombdisplay{
  font-size: 24px;
  padding-left: 12px;
}

#placeholder{
  background-color: @bg-color;
  border: 1px solid @bg-color;
}

.copyright-notice{
  font-size: 10px;
  text-align: center;
}

