extends ../shared/template

block content
  h1= title

    #grid
      table
        tr
          td#0
            div.card
          td#1
            div.card
          td#2
            div.card
          td#3
            div.card
          td#4
            div.card
        tr
          td#5
            div.card
          td#6
            div.card
          td#7
            div.card
          td#8
            div.card
          td#9
            div.card
        tr
          td#10
            div.card
          td#11
            div.card
          td#12
            div.card
          td#13
            div.card
          td#14
            div.card
        tr
          td#15
            div.card
          td#16
            div.card
          td#17
            div.card
          td#18
            div.card
          td#19
            div.card
        tr
          td#20
            div.card
          td#21
            div.card
          td#22
            div.card
          td#23
            div.card
          td#24
            div.card
