body(style="background-color: #99aa33;")
  img(src="http://www.javaflipt.com/img/emaillogo.png", style="vertical-align:middle")
  h1(style="color:green;") Welcome to JavaFlipt, #{name}!
  p(style="text-align: justify;") Thank you for registering to play JavaFlipt, #{name}. Now your game will be saved and your coins will be tracked across plays.

