h1(style="color:green; text-align:center") Welcome to JavaFlipt, #{name}!
p(style="text-align: justify;") Thank you for registering to play JavaFlipt, #{name}. Now your game will be saved and your coins will be tracked across plays.

small The Management
